@import "tailwindcss";

*{
  margin: 0px;
  padding: 0px;

  font-family: system-ui, -apple-system, sans-serif;
  box-sizing: border-box;

  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

:root{
  --bg1: white;
  --text1: black;
  --bor: rgba(33, 90, 181, 0.35);
}

.dark{
  --bg1: black;
  --text1: white;
  --bor: hsl(330, 46%, 54%);
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-size: 1.4rem;
  background:
  radial-gradient(circle farthest-side at 20% 30%, rgba(33, 90, 181, 0.35), transparent 60%),
  radial-gradient(circle farthest-side at 80% 70%, rgba(192, 83, 137, 0.35), transparent 60%),
  var(--bg1);

  padding: 10px 20px;
}

.navbar{
  position: fixed;
  top: 10px;
  left: 20px;
  right: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: transparent;
  color: var(--text1);
}

.navbar .top{
  background-color: hsl(330, 46%, 54%);

  font-weight: bold;
  padding: 2px 8px;
  
  border-radius: 4px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.navbar .med{
  display: flex;
  gap: 20px;
}

.navbar .med a{
  padding: 2px 8px;
  transition: all 0.2s ease;

  border-radius: 20px;
}

.navbar .med a:hover{
  background-color: hsl(330, 46%, 54%);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-4px);
}

.navbar .med a:active{
  transform: translateY(0px);
}

.navbar .bot{
  display: flex;
  gap: 20px;
}

.icon{
  font-size: 2.4rem;
  border-radius: 20px;

  transition: all 0.2s ease;
}

.icon:hover{
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-4px);
}

.icon:active{
  transform: translateY(0px);
}

.last-a{
  padding: 2px 8px;
  transition: all 0.2s ease;

  border-radius: 20px;
}

.last-a:hover{
  background-color: hsl(330, 46%, 54%);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-4px);
}

.last-a:active{
  transform: translateY(0px);
}

.player{
  position: fixed;
  bottom: 20px;
  left: 20px;

  display: flex;
  gap: 10px;
  align-items: center;

  background: transparent;

  border: 1px solid rgba(33, 90, 181, 0.35);
  border-radius: 20px;
  padding: 8px 12px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(12px);

  color: var(--text1);
}

.p-image img{
  width: 60px;
  border-radius: 10px;
}

.info{
  width: 110px;
  overflow: hidden;

  text-align: center;
}

.info h3, .info p{
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.controls-btn{
  padding: 4px;
  color: hsl(330, 46%, 54%);

  transition: 0.2s ease;
  cursor: pointer;
}

.controls-btn:hover{
  transform: translateY(-1px);
}

.controls-btn:active{
  transform: translateY(0px);
}

.hero{
  height: calc(100vh - 20px);
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  gap: 40px;
  color: var(--text1);
}

.hero-top h1{
  font-size: 5rem;
}

.hero-top h2{
  font-size: 4rem;
}

.inside{
  color: hsl(330, 46%, 54%);
  animation: glow 2s infinite;
}

@keyframes glow{
  0%, 100%{color: hsl(330, 46%, 54%);}
  25%{color: hsl(330, 46%, 44%);}
  50%{color: hsl(330, 46%, 34%);}
  75%{color: hsl(330, 46%, 24%);}
}

.wave{
  display: inline-block;
  transform-origin: bottom center;
  animation: wave-ani 2s infinite;

  filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.5));
}

@keyframes wave-ani{
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.hero-bot{
  margin-top: 100px;

  display: flex;
  gap: 60px;

  text-align: center;
}

.hero-bot h1{
  padding: 8px;
  font-size: 2rem;
}

.hero-bot i{
  font-size: 40px;
  padding: 4px;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.marque{
  overflow: hidden;
  width: 240px;
}

.logo1{
  padding: 10px;

  border: 1px solid var(--bor);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);

  background-color: rgba(128, 128, 128, 0.3);

  width: max-content;
  animation: scrollx 20s linear infinite;
}

@keyframes scrollx{
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.project{
  height: calc(100vh - 20px);

  display: flex;
  flex-direction: column;
  gap: 40px;

  justify-content: center;
  align-items: center;

  color: var(--text1);
}

.project h1{
  color: var(--text1);
}

.project-contain{
  overflow-x: hidden;
  width: 100%;
}

.project-wrapper{
  padding: 80px 0px;
  display: flex;
  gap: 10px;
  animation: scrollx 20s linear infinite;
  width: fit-content;
}

.project-wrapper:hover{
  animation-play-state: paused;
}

.project-1{
  position: relative;
  width: 500px;

  border: 10px solid var(--bor);
  border-radius: 25px;

  background-color: rgba(128, 128, 128, 0.3);
}

.project-1-l{
  font-size: 1.4rem;
  padding: 20px;
}

.project-1-l h1{
  color: hsl(330, 46%, 54%);
}

.project-1-l i{
  font-size: 30px;
  padding: 4px;
}

.project-1-r{
  position: absolute;
  top: -10%;
  left: 10%;

  width: 500px;
  padding: 4px;

  border: 1px solid var(--bor);
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
  
  transition: all 0.4s ease-in-out;
  opacity: 0;
}

.project-1-r img{
  border-radius: 10px;
  object-fit:cover;
}

.project-1:hover .project-1-r{
  opacity: 1;
  transform: translateY(-10px) scale(1.05);
}

.exp{
  height: calc(100vh - 20px);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 40px;

  color: var(--text1);
}

.exp h1{
  color: var(--text1);
}

.exp1{
  width: 1200px;

  padding: 20px;
  background: transparent;
  backdrop-filter: blur(20px);
  border: 1px solid var(--bor);
  border-radius: 20px;

  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
}

.exp1:hover{
  transform: translateY(-6px);
}

.exp2{
  width: 1200px;

  padding: 20px;
  background: transparent;
  backdrop-filter: blur(20px);
  border: 1px solid var(--bor);
  border-radius: 20px;

  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
}

.exp2:hover{
  transform: translateY(-6px);
}

.exp1 h1, .exp2 h1{
  color: hsl(330, 46%, 54%);
  font-weight: bold;
}

.exp1 p, .exp2 p{
  padding: 4px;
}

.font-cge{
  font-weight: 600;
  color: hsl(330, 46%, 54%);
}

@media (max-width: 768px){
  html{
    overflow-x: hidden;
  }
  
  body{
    font-size: 1rem;
    overflow-x: hidden;
  }

  .navbar{
    font-size: .9rem;
    justify-content: center;
    left: 10px;
    right: 10px;
  }

  .last-a{
    display: none;
  }

  .player{
    padding: 2px;
  }

  .hero-top h1, .hero-top h2{
    font-size: 1.5rem;
  }

  .hero-bot{
    flex-wrap: wrap;
  }

  .hero-bot h1{
    font-size: 1rem;
  }

  .hero-bot i{
    font-size: 16px;
  }

  .marque{
    width: 140px;
  }

  .project-wrapper{
    padding: 8px;
  }

  .project-1{
    width: 240px;
    border: 2px solid var(--bor);
  }

  .project-1-l{
    font-size: .9rem;
    padding: 8px;
  }

  .project-1-l i{
    font-size: 16px;
    padding: 4px;
  }

  .project-1-r{
    width: 240px;
    top: 70%;
  }

  .exp1{
    width: 360px;
  }

  .exp2{
    width: 360px;
  }
}